.App {
  
  background-image: url("/src/images.jpg") ;
  /* background-color: #9ba9ce; */
  border: 1px solid rgb(107, 107, 146);
  background-repeat: no-repeat ;
 /* background-size: 1300px 600px;; */
 display: flex;
border:1px solid black ;
height: 625px;
  background-size: cover;
  text-align: right;
  

 
}
        .mb-3 {
          width:100%;
text-align: left;   

}

.m{
size: 600 px;
color: blue;
text-align: left;


}
